@model IEnumerable<EventEaseProject.Models.Eventss>

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Event ID
            </th>
            <th>
                 Event Name
            </th>
            <th>
                Date and Time
            </th>
            <th>
                Description
            </th>
            <th>
                Venue ID
            </th>
            <th>
                Venue
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @item.EventDateTime
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" width="150" />
                    }
                </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
